<%- include('header'); %>
<script src="/js/script.js"></script>
<script src="/isotope.js"></script>


  <h1>Contemporary</h1>

<nav>
	<a href="/home">HOME</a>
  <a href="/work">WORK</a>
  <a href="/contact">CONTACT</a>
</nav>

<p class="homeuitleg">
  Welkom op de Contemporary site! <br>
  Op deze site vindt u een mooie collectie aan geselecteerde hedendaagse kunstwerken.
  De getoonde kunstwerken zijn gemaakt door verscheidene artiesten dat hun illustraties hebben omgezet naar een digitale print.
  U kan het volledig overzicht aan kunstwerken bekijken op de work page.
</p>

<div class="wrapper">
  <img src="<%=een%>" alt="" class="homeimg"> <br>
  <img src="<%=twee%>" alt="" class="homeimg"><br>
  <img src="<%=drie%>" alt="" class="homeimg homeimg3">
</div>

<a class="seemore" href="/work">SEE MORE</a>

<p class="footer">Bo Spitaels 2020</p>
<%- include('footer'); %>
