<%- include('header'); %>
<script src="/js/script.js"></script>
<script src="/isotope.js"></script>


  <h1>Contemporary</h1>

<nav>
	<a href="/home">HOME</a>
  <a href="/work">WORK</a>
  <a href="/contact">CONTACT</a>
</nav>

<div class="wrapperp">
    <img src="<%=vijf%>" alt="" class="imgp">
</div>

<div class="wrapperinfo">
<p class="imgnaam"> <%-museum[4].naam%> </p>
<p class="imginfo"> <span>Uitvoerder: </span> <%-museum[4].uitvoerder%> <%-museum[4].datering%></p>
<p class="imginfo"> <span>Beschrijving: </span> <%-museum[4].beschrijving%> </p>
<p class="imginfo"> <span>Kunstperiode: </span> <%-museum[4].periode%> </p>
</div>


<%- include('footer'); %>
