<%- include('header'); %>
<script src="/js/script.js"></script>
<script src="/isotope.js"></script>

<h1>Contemporary</h1>

<nav>
<a href="/home">HOME</a>
<a href="/work">WORK</a>
<a href="/contact">CONTACT</a>
</nav>

<div class="button-group filters-button-group">
   <button class="button is-checked" data-filter="*">Show all</button>
   <button class="button" data-filter=".groppodesign">Groppo Design</button>
   <button class="button" data-filter=".carlallanosprints">Carlallanos Prints</button>
   <button class="button" data-filter=".ellenartworks">Ellen Artworks</button>
   <button class="button" data-filter=".theprintableconcept">The Printable Concept</button>
   <button class="button" data-filter=".belliesartboutique">Bellies Art Boutique</button>
</div>

<div class="grid">
  <a href="/img1p"><img src="<%=een%>" alt="" class="element-item groppodesign " data-category="groppodesign"></a>
  <a class="viewbutton" href="/img1p">View image</a>
  <a href="/img2p"><img src="<%=twee%>" alt="" class="element-item carlallanosprints " data-category="carlallanosprints"></a>
  <a class="viewbutton" href="/img2p">View image</a>
  <a href="/img3p"><img src="<%=drie%>" alt="" class="element-item ellenartworks " data-category="ellenartworks"></a>
  <a class="viewbutton" href="/img3p">View image</a>
  <a href="/img4p"><img src="<%=vier%>" alt="" class="element-item theprintableconcept " data-category="theprintableconcept"></a>
  <a class="viewbutton" href="/img4p">View image</a>
  <a href="/img5p"><img src="<%=vijf%>" alt="" class="element-item groppodesign " data-category="groppodesign"></a>
  <a class="viewbutton" href="/img5p">View image</a>
  <a href="/img6p"><img src="<%=zes%>" alt="" class="element-item belliesartboutique " data-category="belliesartboutique"></a>
  <a class="viewbutton" href="/img6p">View image</a>
  <a href="/img7p"><img src="<%=zeven%>" alt="" class="element-item carlallanosprints " data-category="carlallanosprints"></a>
  <a class="viewbutton" href="/img7p">View image</a>
  <a href="/img8p"><img src="<%=acht%>" alt="" class="element-item carlallanosprints " data-category="carlallanosprints"></a>
  <a class="viewbutton" href="/img8p">View image</a>
  <a href="/img9p"><img src="<%=negen%>" alt="" class="element-item ellenartworks " data-category="ellenartworks"></a>
  <a class="viewbutton" href="/img9p">View image</a>
  <a href="/img10p"><img src="<%=tien%>" alt="" class="element-item theprintableconcept " data-category="theprintableconcept"></a>
  <a class="viewbutton" href="/img10p">View image</a>
  <a href="/img11p"><img src="<%=elf%>" alt="" class="element-item groppodesign " data-category="groppodesign"></a>
  <a class="viewbutton" href="/img11p">View image</a>
  <a href="/img12p"><img src="<%=twaalf%>" alt="" class="element-item carlallanosprints " data-category="carlallanosprints"></a>
  <a class="viewbutton" href="/img12p">View image</a>
  <a href="/img13p"><img src="<%=dertien%>" alt="" class="element-item carlallanosprints " data-category="carlallanosprints"></a>
  <a class="viewbutton" href="/img13p">View image</a>
</div>


<%- include('footer'); %>
